/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct 'block' display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct 'inline-block' display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying 'audio' without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body 'font-size' is set using
 *    'em' units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
/**
 * Address style set to 'bolder' in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address 'quotes' property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 0.875em;
}
/**
 * Prevent 'sub' and 'sup' affecting 'line-height' in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside 'a' element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/**
 * Address Firefox 3+ setting 'line-height' on 'input' using `!important' in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent 'text-transform' inheritance for 'button' and 'select`.
 * All other form control elements do not inherit 'text-transform' values.
 * Correct 'button' style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct 'select' style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native 'audio'
 *    and 'video' controls.
 * 2. Correct inability to style clickable 'input' types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    'input' and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/**
 * 1. Address 'appearance' set to 'searchfield' in Safari 5 and Chrome.
 * 2. Address 'box-sizing' set to 'border-box' in Safari 5 and Chrome
 *    (include `-moz' to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.meggaweb {
  font-family: 'Yanone Kaffeesat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
}
.scada {
  font-family: 'Scada', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
body {
  font-size: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.467em;
}
a,
a:visited {
  color: #010101;
  text-decoration: none;
  border-bottom: 1px dotted #010101;
}
a:hover,
a:active {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #010101;
  margin: 0 0 15px 0;
  line-height: 120%;
  font-family: 'Scada', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
h1,
.heading1 {
  font-size: 2em;
}
h2,
.heading2 {
  font-size: 1.625em;
}
h3,
.heading3 {
  font-size: 1.250em;
}
p {
  margin: 0 0 15px;
}
small {
  font-size: 0.813em;
}
/* blues */
/* Greys */
/* black colour */
/* oranges */
/* General */
body {
  color: #333333;
  background-color: #ff5400;
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 10px 20px 0;
  width: 960px;
  text-align: left;
}
.container .title {
  margin: 15px 15px 40px;
  padding-left: 45%;
  background: transparent url(../images/bass3.jpg) 0 -122px no-repeat;
  background-size: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #343434;
}
.container .title p {
  margin-bottom: 10px;
  font-family: 'Scada', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.125em;
}
.container .title a,
.container .title a:visited {
  color: #fff;
}
.container .title .title-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #343434;
  opacity: 0.7;
}
.container .title .title-inner {
  z-index: 0;
  position: relative;
  height: 100%;
}
.container .title .text-wrap {
  z-index: 2;
  position: relative;
  padding: 10px;
}
.container .body {
  margin: 0 15px;
}
.container .body .title {
  margin: 15px 0;
}
.about .body,
.contact .body {
  padding: 15px;
  background-color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header {
  border-top: 3px solid #343434;
  position: relative;
}
header h1 {
  font-family: 'Yanone Kaffeesat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2.813em;
  font-weight: 200;
  padding-bottom: 3px;
  border-bottom: 2px dotted #343434;
  margin-bottom: 10px;
}
header h1 em {
  font-style: italic;
  font-weight: 200;
  color: #343434;
  letter-spacing: -3px;
}
header h1 span {
  display: block;
  position: static;
  line-height: 20px;
  font-size: 0.320em;
  margin-bottom: 10px;
}
header nav {
  overflow: hidden;
  margin-bottom: 25px;
  background-color: #4e4c4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e4c4d), to(#343434));
  background: -webkit-linear-gradient(top, #4e4c4d, #343434);
  background: -moz-linear-gradient(top, #4e4c4d, #343434);
  background: -ms-linear-gradient(top, #4e4c4d, #343434);
  background: -o-linear-gradient(top, #4e4c4d, #343434);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
header nav ul {
  overflow: hidden;
}
header nav li {
  float: left;
  font-family: 'Scada', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  border-left: 2px solid #fff;
  position: relative;
}
header nav li a,
header nav li a:visited {
  color: #fff;
  background-color: #4e4c4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e4c4d), to(#343434));
  background: -webkit-linear-gradient(top, #4e4c4d, #343434);
  background: -moz-linear-gradient(top, #4e4c4d, #343434);
  background: -ms-linear-gradient(top, #4e4c4d, #343434);
  background: -o-linear-gradient(top, #4e4c4d, #343434);
  border-bottom: none;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 700;
}
header nav li a:hover,
header nav li a:visited:hover,
header nav li a:active,
header nav li a:visited:active,
header nav li a.active,
header nav li a:visited.active {
  color: #fff;
  background: #ff5400;
  border-bottom: none;
}
header nav li a img.loader-img,
header nav li a:visited img.loader-img {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}
header nav li:first-child {
  border-left: none;
}
header nav li.twitter,
header nav li.linkedin {
  float: right;
  border-left: none;
  margin-right: 10px;
}
header nav li.twitter a,
header nav li.linkedin a {
  background: transparent url(../images/backgrounds/twitter.png) 0 2px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
}
header nav li.linkedin a {
  background: transparent url(../images/backgrounds/linkedin.gif) 0 2px no-repeat;
}
.lt-ie8 .overlay .overlay-content .ajax-content {
  position: static;
}
.lt-ie9 header h1 span {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 60px;
  margin-bottom: 0;
  display: inline-block;
}
@media only screen and (max-width: 599px) {
  header nav {
    background: none;
  }
  header nav li {
    float: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  header nav li a {
    display: block;
  }
  header nav li.twitter,
  header nav li.linkedin {
    display: none;
  }
}
footer {
  border-top: 2px dotted #343434;
  margin: 35px 0 15px;
  padding: 15px 0;
}
footer p {
  margin-bottom: 0;
}
footer .align-right {
  display: none;
}
.lt-ie9 footer .align-right {
  display: block;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.offscreen-element {
  position: absolute;
  left: -9999px;
}
.offscreen-text {
  text-indent: -9999px;
}
.visibility-hidden {
  visibility: hidden;
}
.clearfloats {
  clear: both;
  display: block;
  zoom: 1;
}
.clearfloats:before,
.clearfloats:after {
  content: "";
  display: table;
}
.clearfloats:after {
  clear: both;
}
.js .js-hidden,
.no-js .no-js-hidden {
  display: none;
}
.alignright {
  float: right;
}
.textright {
  text-align: right;
}
.print {
  display: none;
}
.accordion h2 {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
}
.accordion h2:hover {
  background-color: #4e4c4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e4c4d), to(#343434));
  background: -webkit-linear-gradient(top, #4e4c4d, #343434);
  background: -moz-linear-gradient(top, #4e4c4d, #343434);
  background: -ms-linear-gradient(top, #4e4c4d, #343434);
  background: -o-linear-gradient(top, #4e4c4d, #343434);
}
.accordion h2 a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 40px 10px 15px;
  color: #fff;
}
.accordion h2 a:hover {
  border-color: #343434;
}
.accordion h2 .icon {
  position: absolute;
  display: block;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent url(../images/sprites/sprite-icons.png) -21px -76px no-repeat;
}
.accordion .open h2 {
  background-color: #4e4c4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e4c4d), to(#343434));
  background: -webkit-linear-gradient(top, #4e4c4d, #343434);
  background: -moz-linear-gradient(top, #4e4c4d, #343434);
  background: -ms-linear-gradient(top, #4e4c4d, #343434);
  background: -o-linear-gradient(top, #4e4c4d, #343434);
}
.accordion .open h2 a {
  color: #fff;
}
.accordion .open h2 .icon {
  background-position: -21px -130px;
}
.accordion .img-container {
  display: none;
  float: right;
  max-width: 180px;
  width: 24.7312%;
  margin-top: 45px;
}
.accordion .img-container img {
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.accordion .accordion-body {
  padding-right: 20px;
}
.accordion .content {
  border: 1px solid #fff;
  padding: 15px 15px 10px;
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.accordion .content p {
  margin-bottom: 5px;
}
.accordion .content p.close-btn {
  text-align: right;
}
.accordion .content a:hover,
.accordion .content a:active {
  color: #ff5400;
  border-color: #ff5400;
}
.accordion .controls {
  display: none;
}
.slideshow-carousel {
  border-top: 5px solid #808080;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.slideshow-carousel .controls {
  position: absolute;
  top: 200px;
  width: 96%;
  margin: 0 2%;
  z-index: 1;
  display: none;
}
.slideshow-carousel .controls a {
  background: transparent url(../images/sprites/sprite-icons.png) 2px -33px no-repeat;
  border-bottom: medium none;
  display: block;
  float: left;
  height: 40px;
  position: relative;
  width: 40px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #808080;
  background-color: #010101;
  opacity: 0.8;
}
.slideshow-carousel .controls a:hover,
.slideshow-carousel .controls a:active {
  background-color: #ff5400;
}
.slideshow-carousel .controls a.disabled {
  background-color: #808080;
  cursor: default;
  border: none;
  opacity: 0.5;
}
.slideshow-carousel .controls a.next {
  float: right;
  background-position: 6px 8px;
}
.slideshow-carousel .wrapper {
  width: 200%;
  z-index: 0;
}
.slideshow-carousel .wrapper article {
  overflow: hidden;
  position: absolute;
  left: 102%;
  width: 100%;
  z-index: 1;
}
.slideshow-carousel .wrapper article.prev {
  left: -102%;
}
.slideshow-carousel .wrapper .img-container {
  float: left;
  max-width: 230px;
  width: 24.7312%;
  margin-top: -20px;
}
.slideshow-carousel .wrapper .img-container img {
  width: 100%;
}
.slideshow-carousel .wrapper h2 {
  margin: 15px 0 5px 25.32327586206897%;
  color: #173740;
}
.slideshow-carousel .wrapper h2 a,
.slideshow-carousel .wrapper h2 a span {
  display: none;
}
.slideshow-carousel .wrapper .content {
  margin-left: 25.32327586206897%;
  padding-right: 20px;
  display: block !important;
}
.slideshow-carousel .wrapper .content h3 {
  font-size: 1.250em;
}
.slideshow-carousel .wrapper p {
  font-size: 0.875em;
}
.slideshow-carousel .wrapper .close-btn {
  display: none;
}
.carousel-indicators {
  text-align: center;
  padding-top: 8px;
  background-color: #ff5400;
}
.carousel-indicators ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}
.carousel-indicators ul li {
  float: left;
  margin-left: 10px;
}
.carousel-indicators ul li:first-child {
  margin-left: 0;
}
.carousel-indicators ul li a {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #e2e2e2;
  background-color: #fff;
}
.carousel-indicators ul li a:hover,
.carousel-indicators ul li a:active {
  background-color: #010101;
}
.carousel-indicators ul li a.disabled {
  background-color: #999;
  cursor: default;
}
.lt-ie9 .accordion .img-container {
  display: block;
}
.accordion + .carousel-indicators {
  display: none;
}
.touch .carousel-indicators li a {
  width: 30px;
  height: 30px;
}
.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 1;
  display: none;
}
.overlay .overlay-content {
  color: #fff;
  z-index: 3;
  position: relative;
  padding: 0 20px;
  border-left: 2px solid #343434;
  border-right: 2px solid #343434;
  border-bottom: 2px solid #e2e2e2;
  display: none;
}
.overlay .overlay-content h2 {
  color: #fff;
  margin-top: 20px;
}
.overlay .overlay-content .ajax-content {
  position: relative;
}
.overlay .overlay-content p.close {
  position: absolute;
  top: 0;
  right: -20px;
}
.overlay .overlay-content a,
.overlay .overlay-content a:visited {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.overlay .overlay-content a:hover,
.overlay .overlay-content a:visited:hover {
  color: #e2e2e2;
  border-bottom: 1px dotted #e2e2e2;
}
.overlay .overlay-inner {
  background-color: #010101;
  opacity: 0.9;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
@media only screen and (max-width: 800px) {
  
}
@media only screen and (min-width: 660px) {
  header h1 span {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    margin-bottom: 0;
    display: inline-block;
  }
}
@media only screen and (max-width: 599px) {
  .container {
    width: 93.34%;
    max-width: 599px;
    min-width: 290px;
    padding: 3.33% 3.33% 0;
  }
  .container .title,
  .container .body {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .container .title {
    background-color: #4e4c4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e4c4d), to(#343434));
    background: -webkit-linear-gradient(top, #4e4c4d, #343434);
    background: -moz-linear-gradient(top, #4e4c4d, #343434);
    background: -ms-linear-gradient(top, #4e4c4d, #343434);
    background: -o-linear-gradient(top, #4e4c4d, #343434);
    padding: 10px;
  }
  .container .title .title-overlay {
    display: none;
  }
  .container .title .text-wrap {
    z-index: 0;
    position: relative;
    padding: 0;
  }
  header h1 {
    font-size: 2.813em;
  }
}
@media only screen and (min-width: 600px) {
  .accordion .img-container {
    display: block;
  }
  .accordion .accordion-body {
    margin-right: 27%;
  }
  footer .align-right {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .container {
    width: 94.792%;
    padding: 2.604% 2.604% 0;
  }
  .container .title,
  .container .body {
    margin-left: 2.08%;
    margin-right: 2.08%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 959px) {
  .container {
    width: 95%;
    max-width: 900px;
    min-width: 800px;
  }
  .container .title,
  .container .body {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
