
/* blues */
@bright-blue: #5ddeff;
@light-blue: #46a6bf;
@mid-blue: #3d90a6;
@dark-blue: #173740;

/* Greys */

@warm-white: #f8f8f8;
@light-grey: #e2e2e2;
@mid-grey: #808080;
@deep-grey: #333;
@dark-grey: #343434;
@gradient-grey: #4e4c4d;

/* black colour */
@black: #010101;

/* oranges */
@bright-orange: #ff5400;
@burnt-orange: #8c310a;
@dark-orange: #401605;


/* General */

@bodytext-color: @deep-grey;