footer {
    border-top: 2px dotted @dark-grey;
    margin: 35px 0 15px;
    padding: 15px 0;
    p {
        margin-bottom: 0;
    }

    .align-right {

    	display: none;
    }
}



.lt-ie9 footer .align-right {
		display:  block;
	}