body {
	color: @bodytext-color;
	background-color: @bright-orange;
	text-align: center;
}

.container {
	margin: 0 auto;
	padding: 10px 20px 0;
	width: 960px;
	text-align: left;

	.title {
		margin: 15px 15px 40px;
		padding-left: 45%;
		background: transparent url(../images/bass3.jpg) 0 -122px no-repeat;
		background-size: 100%;
		.corners(5px);
		color: #fff;
		border: 1px solid @dark-grey;
		p {
			margin-bottom: 10px;
			.scada;
			font-size: 1.125em;
		}

		a, a:visited {
			color: #fff;
		}

		.title-overlay {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background-color: @dark-grey;
			opacity: 0.7;
		}

		.title-inner {
			z-index: 0;
			position: relative;
			height: 100%;
		}

		.text-wrap {
			z-index: 2;
			position: relative;
			padding: 10px;
		} 

	}

	.body {
		margin: 0 15px;
		.title {
			margin: 15px 0;
		}
	}
}


.about .body,
.contact .body {
	padding: 15px;
	background-color: #fff;
	.corners(5px);
}