header {
	border-top: 3px solid @dark-grey;
	position: relative;
	h1 {
		.meggaweb;
		color: #fff;
		font-size: 2.813em;
		font-weight: 200;
		padding-bottom: 3px;
		border-bottom: 2px dotted @dark-grey;
		margin-bottom: 10px;
		em {
			font-style: italic;
			font-weight: 200;
			color: @dark-grey;
			letter-spacing: -3px;
		}

		span {
			display: block;
			position: static;
			line-height: 20px;
			font-size: 0.320em;
			margin-bottom: 10px;
		}
	}
	nav {
		overflow: hidden;
		margin-bottom: 25px;
		.gradient(@gradient-grey, @dark-grey);
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		ul {
			overflow: hidden;
		}
		li {
			float: left;
			.scada;
			border-left: 2px solid #fff;
			position: relative;
			a, a:visited {
				color: #fff;
				.gradient(@gradient-grey, @dark-grey);
				border-bottom: none;
				display: inline-block;
				padding: 5px 15px;
				font-weight: 700;
				
				&:hover, &:active, &.active {
				color: #fff;
				background: @bright-orange;
				border-bottom: none;
				}
				img.loader-img {
					position: absolute;
					top: 3px;
					right: 3px;
					z-index: 1;
				}
			}
		&:first-child {
			border-left: none;
			}
		&.twitter,
		&.linkedin {
			float: right;
			border-left: none;
			margin-right: 10px;
			a {
				background: transparent url(../images/backgrounds/twitter.png) 0 2px no-repeat;
				display: block;
				width: 30px;
				height: 30px;
				padding: 0;
				}
			}
		&.linkedin {
			a {
				background: transparent url(../images/backgrounds/linkedin.gif) 0 2px no-repeat;

				}
			}
		}
	}
	
	
}

.lt-ie8 .overlay .overlay-content .ajax-content {
	position: static;
}

.lt-ie9 header h1 span {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 60px;
	margin-bottom: 0;
	display: inline-block;
}

@media only screen and (max-width: 599px) {
	header {
		nav {
			background: none;
			li {
				float: none;
				border-left: none;
				border-bottom: 1px solid #fff;
				width: 100%;
				a {
					display: block;
				}
				&.twitter,
				&.linkedin {
					display: none;
				}
			}
		}
	}
}


