.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.offscreen-element {
  position: absolute;
  left: -9999px;
}

.offscreen-text {
  text-indent: -9999px;
}

.visibility-hidden {
  visibility: hidden;
}

.clearfloats {
  clear: both;
  display: block;
  .clearfix;
}

.js .js-hidden,
.no-js .no-js-hidden {
  display: none;
}

.alignright {
  float: right;
}
.textright {
  text-align: right;
}
.print{
  display: none;
}

