
@media only screen and (max-width: 800px) {

	
}

@media only screen and (min-width: 660px) {
	

header h1 span {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 60px;
		margin-bottom: 0;
		display: inline-block;
	}
	
}

@media only screen and (max-width: 599px) {

	.container {
		width: 93.34%;
		max-width: 599px;
		min-width: 290px;
		padding: 3.33% 3.33% 0;
		.title, .body {
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
	}
	
	.container .title {
		.gradient(@gradient-grey, @dark-grey);
		padding: 10px;

		.title-overlay {
			display: none;
		}

		.text-wrap {
			z-index: 0;
			position: relative;
			padding: 0;
		} 
	}

	header {
		h1 {
			font-size: 2.813em;
		}
	}

}


@media only screen and (min-width: 600px) {
	.accordion {
		.img-container {
			display: block;
		}

		 .accordion-body {

			margin-right: 27%;
		}
	}

	footer .align-right {
		display:  block;
	}
}


@media only screen and (min-width: 600px)
	and (max-width: 799px){
		
	.container {
		width: 94.792%;

		padding: 2.604% 2.604% 0;
		.title, .body {
			margin-left: 2.08%;
			margin-right: 2.08%;
		}
	}
}



@media only screen and (min-width: 800px)
	and (max-width: 959px){
		
	.container {
		width: 95%;
		max-width: 900px;
		min-width: 800px;
		.title, .body {
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
	}
	
}
