
.meggaweb {
	font-family: 'Yanone Kaffeesat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}

.scada {
	font-family: 'Scada', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
	font-size: 100%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.467em;
}

a, a:visited {
	color: @black;
	text-decoration: none;
	border-bottom: 1px dotted @black;
}

a:hover, a:active {
	color: #fff;
	border-bottom: 1px dotted #fff;
}


h1, h2, h3, h4, h5, h6 {
	color: @black;
	margin: 0 0 15px 0;
	line-height: 120%;
	.scada
}

h1,
.heading1 {
	font-size: 2em;
}

h2,
.heading2 {
	font-size: 1.625em;
}

h3,
.heading3 {
	font-size: 1.250em;
}

p {
	margin: 0 0 15px;
}

small {
	font-size: 0.813em;
}



