.accordion {
	h2 {
		.corners(5px);
		margin-bottom: 5px;
		position: relative;
		&:hover {
			.gradient(@gradient-grey, @dark-grey);
		}

		a {
			display: block;
			position: relative;
			width: 100%;
			height: 100%; 
			padding: 15px 40px 10px 15px;
			color: #fff;

			&:hover {
				border-color: @dark-grey;
			}
		}
		.icon {
			position: absolute;
			display: block;
			top: 8px;
			right: 10px;
			width: 30px;
			height: 30px;
			background: transparent url(../images/sprites/sprite-icons.png) -21px -76px no-repeat;
		}
	}

	.open h2{
		.gradient(@gradient-grey, @dark-grey);
		a {
			color: #fff;
		}	
		.icon {
			background-position: -21px -130px;
		}
	}
	
	.img-container {
		display: none;
		float: right;
		max-width: 180px;
		width: 24.7312%;
		margin-top: 45px;
		img {
			width: 100%;
			.corners(5px);
		}
	}

	.accordion-body {
		padding-right: 20px;
	}
	
	.content {
		border: 1px solid #fff;
		padding: 15px 15px 10px;
		margin-bottom: 5px;
		background-color: #fff;
		.corners(5px);
		p {
			margin-bottom: 5px;
			&.close-btn {
				text-align: right;
			}
		}
		
		a {
			&:hover, &:active {
				color: @bright-orange;
				border-color: @bright-orange;
			}
		}
	}
	.controls {
		display: none;
	}
}

.slideshow-carousel {
	border-top: 5px solid @mid-grey;
	background-color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 0;
	.controls {
		position: absolute;
		top: 200px;
		width: 96%;
		margin: 0 2%;
		z-index: 1;
		display: none;
		a {
			background: transparent url(../images/sprites/sprite-icons.png) 2px -33px no-repeat;
			border-bottom: medium none;
			display: block;
			float: left;
			height: 40px;
			position: relative;
			width: 40px;
			.corners(30px);
			border: 2px solid @mid-grey;
			background-color: @black;
			opacity: 0.8;
			&:hover, &:active {
				background-color: @bright-orange;
			}
			&.disabled {
				background-color: @mid-grey;
				cursor: default;
				border: none;
				opacity: 0.5;
			}
			&.next {
				float: right;
				background-position: 6px 8px;
			}
		}
	}
	
	.wrapper {
		width: 200%;
		z-index: 0;
		article {
			overflow: hidden;
			position: absolute;
			left: 102%;
			width: 100%;
			z-index: 1;
			&.prev {
				left: -102%;
			}
		}
	.img-container {
		float: left;
		max-width: 230px;
		width: 24.7312%;
		margin-top: -20px;
		img {
			width: 100%;
		}
	}
	h2 {
		margin: 15px 0 5px 25.32327586206897%;
		color: @dark-blue;
		a, a span {
			display: none;
		}
	}
	
	.content {
		margin-left: 25.32327586206897%;
		padding-right: 20px;
		display: block !important;
		h3 {
			.heading3;
			}
		}
		p {
			font-size: 0.875em;
		}
		.close-btn {
			display: none;
		}
	}
}

.carousel-indicators {
	text-align: center;
	padding-top: 8px;
	background-color: @bright-orange;
	ul {
		list-style: none;
		display: inline-block;
		margin: 0 auto;
		li {
			float: left;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			a {
				display: block;
				width: 18px;
				height: 18px;
				.corners(20px);
				border: 3px solid @light-grey;
				background-color: #fff;
				&:hover, &:active {
					background-color: @black;
				}
				&.disabled {
					background-color: #999;
					cursor: default;
				}
			}
		}
	}
}

.lt-ie9 .accordion .img-container {
	display: block;
}

.accordion + .carousel-indicators {
	display: none;
}

.touch .carousel-indicators li a {
	width: 30px;
	height: 30px;
}

.no-js {
	.accordion {
		.content {
		}
	}
}

.overlay {
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	z-index: 1;
	display: none;
	.overlay-content {
		color: #fff;
		z-index: 3;
		position: relative;
		padding: 0 20px;
		border-left: 2px solid @dark-grey;
		border-right: 2px solid @dark-grey;
		border-bottom: 2px solid @light-grey;
		display: none;
		h2 {
			color: #fff;
			margin-top: 20px;
		}
		.ajax-content {
			position: relative;
		}
		p.close {
			position:absolute;
			top: 0;
			right: -20px;
		}
		a, a:visited {
			color: #fff;
			border-bottom: 1px dotted #fff;
			&:hover {
				color: @light-grey;
				border-bottom: 1px dotted @light-grey;	
			}
		}
	}
	.overlay-inner {
		background-color: @black;
		opacity: 0.9;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
	}
}
