
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* page styles */


body {
  background-color: #f3f3f3;
  font-size: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.467em;
  text-align: center;
}

.container {
  background-color: #fff;
  color: #777;
  font-size: 1em;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px;
  width: 400px;
}

.container .login-screen {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  text-align: left;
}

.lt-ie7 .container .login-screen {
  zoom: 1;
}

.container .loginform {
  overflow: hidden;
}

.container .loginform .row {
  margin-bottom: 35px;
  padding-top: 15px;
  overflow: hidden;
}

.container .loginform label {
  float: left;
  line-height: 2em;
  width: 30%;
}

.container .loginform .error label{
  color: #cd0b0b;
}

.container .loginform input {
  color: #777;
  float: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  width: 65%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 5px 2%;
}

.container .loginform .error input{
  border-color: #cd0b0b;
  color: #cd0b0b;
}

.container .loginform .error-message {
  display: none;
  padding-top: 6px;
}

.container .loginform .error .error-message {
  color: #cd0b0b;
  clear: both;
  display: block;
  font-size: 0.750em;
}

.container .loginform .submit {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  float: right;
  font-weight: bold;
  width: auto;
}

.lt-ie7 .container .loginform .submit {
  margin-top: 20px;
  clear: both;
}

.container .confirmation {
  display: none;
}

@media only screen and (max-width: 599px) {
  .container {
    width: 80%;
  }  
}

@media only screen and (max-width: 480px) {
  .container .loginform label,
  .container .loginform input {
    float: none;
    display: block;
    width: 90%;
  }
  
}